<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px;">
            <h1 style="font-size: 36px; color: #333;">Welcome to <%= title %> Page</h1>
            <div class="section" style="text-align: center;" >
                <h2>About Me</h2>
                <p></p>
            </div>
            <div class="section" style="text-align: center;">
                <h2>Education</h2>
                <p><h3><u>Highschool/Post Secondary in Science Stream</u></h3></p>
                <p>Graduated from New Capital College Highschool in 2020</p>
                ===================================================================================================s
                <p><h3><u>Undergraduate Diploma in Software Engineering Technician.</u></h3></p>
                <p>Currently attending Centennial College</p>
            </div>
            <div class="section" style="text-align: center;">
                <h2>Skills</h2>
                <ul>
                    <li>Web Development</li>
                    <li>Programming</li>
                    <li>Database Management</li>
                </ul>
            </div>
        </div>
    </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   