<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px;">
            <h1 style="font-size: 36px; color: #333;">Welcome to <%= title %> Page</h1>
            <div class="section">
                <h2>About Me</h2>
              
                <p>My name is <strong>Sujal Acharya</strong>. I am a <strong>Software Engineering Technician</strong> student at <strong>Centennial College</strong>. I am a <strong>Web Developer</strong> and <strong>Programmer</strong>. I am currently learning <strong>Java</strong> and <strong>C#</strong> programming languages. I am also learning <strong>Frontend</strong> and <strong>Backend</strong> Web Development. I am aspiring to become a great <strong>Software Programmer</strong>.</p>
            </div>
            
            <div class="section">
                <h2>Interests</h2>
                <p>I am intrested in watching anime, movies and web series as well as listining to music. Some of my Favourites are:</p>
                <ol>
                    <li>Queen Band.</li>
                    <li>Avengers Series.</li>
                    <li>One Piece Anime.</li>
                    <li>Attack on Titan Anime.</li>
                    <li>Death Note Anime.</li>
                    <li>Code Geass Anime.</li>
                    <li>Shutter Island movie</li>
                    <li>Interstellar movie</li>
                    <li>Dark Knight movie</li>
                    <li>Breaking Bad Web Series</li>
                    <li>Money Heist Web Series</li>
                    <li>Game of Thrones Web Series</li>

                </ol>
            </div>
            <div class="section">
                <h2>Volunteer Work</h2>
                <ol>
                    <li>I have volunterred as a child summer camp instructor.</li>
                    <li>I have volunterred at a old age care center.</li>
                </ol>
            </div>
            
            <div class="section">
                <h2>Accomplishments</h2>
                <ol>
                    <li>Participated in Uoft Hacks and made a space game with a womnderful and qualified team members and presented to judges.</li>
                    <li>Participated in MetHacks and created a website for reducing food waste.</li>
                    <li>Participate in Centennial college hackathon.</li>
                </ol>
            </div>
            <div class="section">
                <h2>Personal Information</h2>
                <h4>Name: Sujal Acharya</h4>
                <h4>Age: 20</h4>
                <h4>Address: Moon</h4>
                <h4>Phone: 1234567890</h4>
                <h4>Email: sujalacharya567@gmail.com</h4>
            </div>
            <div class="section">
                <h2>Personal Statement</h2>
                <p>If you wanna be friends, come and talk with me.</p>
            </div>
            <div class="section">
                <h2>Goals</h2>
                <p>Not difined yet. Still looking to be something. Hoping to figure it out sooon.</p>
            </div>
        </div>

       
            <div class="section">
                <h2>Experience</h2>
                <ol>
                    <li>Line cook in Amsterdam Barrel House.</li>
                    <li>Crew member in barBurrito</li>
                    <li>Prep Cook at SantaGuida Finefoods</li>
                    <li>Customer service at Mobile Tech Solutions.</li>
                </ol>
            </div>
        </div>
    </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   