<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px;">
            <h1 style="font-size: 36px; color: #333;">Welcome to <%= title %> Page</h1>
            <div class="section">
                <h2>Projects</h2>
                <ul>
                    <li>Space game design
                        <p>Participated in Uoft Hacks and created a space exploration game in Unity.</p>
                        <p>Click <a href="https://play.unity.com/mg/other/finishedgameversions">here</a> to try the game for yourself.</p>
                    </li>
                    <li>Ride for food
                        <p>Cretaed an website for minimizing food waste.</p>
                        <p>Click <a href="https://devpost.com/software/ride4food">here</a> to view the devpost page and you can navigaate to github to view the actual project.</p>
                    </li>
                    <li>Guessing Game (Building Now In Progress)</li>
                </ul>
            </div>
            <div class="section">
                <h2>Technologies Used</h2>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    <li>Unity</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>React</li>
                    <li>Angular</li>
                    
                </ul>
            </div>
        </div>
    </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   